<configuration scan="true" scanPeriod="30 seconds">
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
            <!--            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>-->
        </encoder>
    </appender>

    <appender name="FILE-NEW" class="ch.qos.logback.core.FileAppender">
        <file>logs/start/logfile-${bySecond}.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.beans" level="INFO">
        <!--        <appender-ref ref="STDOUT"/>-->
    </logger>
    <logger name="org.springframework.core" level="INFO">
        <!--        <appender-ref ref="STDOUT"/>-->
    </logger>
    <logger name="org.hibernate.search" level="INFO">
        <!--        <appender-ref ref="STDOUT"/>-->
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
        <appender-ref ref="FILE-NEW"/>
    </root>


    <springProfile name="hs-debug">
        <!--        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--&lt;!&ndash;            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">&ndash;&gt;-->
        <!--&lt;!&ndash;                &lt;!&ndash;			<level>INFO</level>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;                <level>DEBUG</level>&ndash;&gt;-->
        <!--&lt;!&ndash;            </filter>&ndash;&gt;-->
        <!--            <encoder>-->
        <!--                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>-->
        <!--            </encoder>-->
        <!--        </appender>-->

        <!--        <logger name="org.springframework.beans" level="DEBUG">-->
        <!--            &lt;!&ndash;            <appender-ref ref="STDOUT"/>&ndash;&gt;-->
        <!--        </logger>-->
        <!--        <logger name="org.springframework.core" level="DEBUG">-->
        <!--            &lt;!&ndash;            <appender-ref ref="STDOUT"/>&ndash;&gt;-->
        <!--        </logger>-->
<!--        <root level="DEBUG">-->
<!--            &lt;!&ndash;            <appender-ref ref="STDOUT"/>&ndash;&gt;-->
<!--        </root>-->
    </springProfile>

</configuration>
